#main {
  max-width: 95%;
  margin: 10vh auto;
}

body {
  background-color: #f39c12;
}

.ui.form textarea {
  font-size: 1.4rem;
  margin: 10px 0;
}

.buttons {
  width: 100%;
}

.ui.buttons .button:first-child {
  border-radius: .28571429rem;
}

p {
  font-size: 1.2rem;
  display: none;
  margin: 10px;
}

.ui.label {
  font-size: 2.0rem;
  padding: 4px 10px;
}